<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Download - Fotobox</title>
</head>
<body>
    <div class="main">

            <h1>Dein Bild</h1>

            {%for i in range(0, len)%}
                <div>
                    <a class="picture" href="{{ pictureData[i][0] }}" download>
                        <img src="{{ pictureData[i][0] }}">
                    </a>
                </div>
                <div>
                    <a href="{{ pictureData[i][0] }}" download>Download</a>
                </div>
                <p>

                </p>
                {% if pictureData[i][2] %}
                    <div>
                        <a href="{{ pictureData[i][1] }}">Drucken</a>
                    </div>
                {% endif %}
            {%endfor%}

    </div>
</body>
</html>