[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=photoxDiashow
Exec=sh /home/pi/Photobox/startDiashow.sh
StartupNotify=false
Terminal=yes
Hidden=false