<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Fotobox</title>
</head>
<body>
    <div class="main">
        <h1>Fotobox</h1>
        <p> Bitte nutze den QR-Code an der Fotobox, um dein Bilder herunter zu laden. </p>

        {%for i in range(0, len)%}
            <p>
                <a href="{{ picturePageUrl[i] }}">Download: {{ picturePageUrl[i] }}</a>
            </p>
        {%endfor%}
    </div>
</body>
</html>