body{
    background-color: black;
    color: white;
    font-size: 35px;
    font-family: Arial Black;

    margin-left: auto;
    margin-right: auto;
    display: block;

}

input {
    font-size: 35px;
    text-decoration: none;
    color: white;
    background-color:rgb(30,30,30);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 200px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:hover {
    background-color:rgb(50,50,50);
}

a {
    text-decoration: none;
    color: white;
    background-color:rgb(30,30,30);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 200px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
}
a:hover {
    background-color:rgb(50,50,50);
}
a.disabled {
    background-color:rgb(80,80,80);
    color:rgb(200,200,200);
    pointer-events: none;
}

img {
    width: 100%;
}

a.picture {
    border: 0;
    padding: 0px 0px;
    background-color: black;
}


a.picture:hover {
    border: 0;
    background-color: black;
}

h1 {
    table-layout: fixed
    font-weight: bolder;
    width: 100%;
    text-align: center;
    border: 5px solid grey;
    border-radius: 5px;
}

h1.error {
    background-color: rgb(222,127,127);
    border: 5px solid rgb(222,90,90);
    border-radius: 10px;
}

.main{
    width: 80%;
    margin: 0 auto;
}